@import "https://fonts.googleapis.com/css?family=Risque";

body {
    background-color: #fff;
    margin: 0;
    font-family: Risque;
    display: flex;
    justify-content: center;
}

.wrapper {
    /* height: 700px;
    width: 700px; */
    margin-top: 20px;
    height: 60vh;
    width: 50vw;
    background-color: #ffeaa7;
}

h2 {
    text-align: center;
    font-weight: normal;
    line-height: 1.5;
    color: #222;
    margin: 0;
    padding: 20px 0;
}

button {
    border: none;
    background: none;
    font-family: Risque;
    height: 40px;
    font-weight: 700;
    color: blue;
    letter-spacing: 1px;
    font-size: 30px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    outline: none;
}


.square {

    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    /* -moz-transition: background 0.6s; */
}


#container {
    max-width: 300px;
    margin: 20px auto;

}

#colorDisplay {
    color: #c00C00;
    font-size: 30px;
}

#stripe {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffeaa7;
    height: 50px;
}

#message {
    display: inline-block;
    width: 27%;
    font-size: 22px;
    color: blue;
}

/* BOOM!!!! */